<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nl.frankkie.ouyarandom">
    <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"
            android:anyDensity="true"
            android:resizeable="true"
    />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:allowBackup="false">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="tv.ouya.intent.category.APP"/>
            </intent-filter>
        </activity>

        <activity android:name=".HardwareActivity"/>
        <activity android:name=".ControllerActivity"/>
        <activity android:name=".ControllerTestActivity"/>
        <activity android:name="tv.ouya.controllertest.ControllerTestActivity"/>
        <activity android:name=".ViewportActivity"/>
        <activity android:name=".ViewportTestActivity"/>
        <activity android:name=".WiFiKillActivity"/>
        <activity android:name=".DiscoverTestActivity"/>
        <activity android:name=".DataUriActivity"/>
        <activity android:name=".AppListActivity"/>
        <activity android:name=".minigame.ShootGameActivity"/>
        <activity android:name=".UpdateCheckActivity"/>
        <activity android:name=".UniversalControllerActivity"/>

        <receiver
                android:name=".WiFiKillReceiver"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.ACCESS_WIFI_STATE">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <!-- way to many filters.. //-->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.net.wifi.SUPPLICANT_STATE_CHANGED_ACTION"/>
                <action android:name="android.net.conn.SUPPLICANT_STATE_CHANGED_ACTION"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>